<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.foundation.dao1.mapper.BillInfoMapper" >
  <resultMap id="BaseResultMap" type="com.study.foundation.dao1.model.BillInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="BIGINT" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="BIGINT" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="bill_code" property="billCode" jdbcType="VARCHAR" />
    <result column="packet_id" property="packetId" jdbcType="BIGINT" />
    <result column="packet_code" property="packetCode" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="company_org_id" property="companyOrgId" jdbcType="BIGINT" />
    <result column="second_lending_id" property="secondLendingId" jdbcType="BIGINT" />
    <result column="product_num" property="productNum" jdbcType="VARCHAR" />
    <result column="certificate_num" property="certificateNum" jdbcType="VARCHAR" />
    <result column="overdue_day" property="overdueDay" jdbcType="INTEGER" />
    <result column="bucket" property="bucket" jdbcType="VARCHAR" />
    <result column="bill_batch_times" property="billBatchTimes" jdbcType="VARCHAR" />
    <result column="commit_money" property="commitMoney" jdbcType="DECIMAL" />
    <result column="total_repay_money" property="totalRepayMoney" jdbcType="DECIMAL" />
    <result column="latest_commit_money" property="latestCommitMoney" jdbcType="DECIMAL" />
    <result column="latest_debt_money" property="latestDebtMoney" jdbcType="DECIMAL" />
    <result column="commit_date" property="commitDate" jdbcType="TIMESTAMP" />
    <result column="limit_date" property="limitDate" jdbcType="TIMESTAMP" />
    <result column="case_area_id" property="caseAreaId" jdbcType="BIGINT" />
    <result column="case_area" property="caseArea" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="bill_days" property="billDays" jdbcType="INTEGER" />
    <result column="follow_date" property="followDate" jdbcType="TIMESTAMP" />
    <result column="bill_status" property="billStatus" jdbcType="VARCHAR" />
    <result column="bill_repay_status" property="billRepayStatus" jdbcType="VARCHAR" />
    <result column="bill_classify_id" property="billClassifyId" jdbcType="BIGINT" />
    <result column="collection_type" property="collectionType" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="BIGINT" />
    <result column="agent_id" property="agentId" jdbcType="BIGINT" />
    <result column="begin_col_date" property="beginColDate" jdbcType="TIMESTAMP" />
    <result column="allot_date" property="allotDate" jdbcType="TIMESTAMP" />
    <result column="de_agent_id" property="deAgentId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, created, creator, updated, modifier, deleted, bill_code, packet_id, packet_code, 
    project_id, project_code, company_org_id, second_lending_id, product_num, certificate_num, 
    overdue_day, bucket, bill_batch_times, commit_money, total_repay_money, latest_commit_money, 
    latest_debt_money, commit_date, limit_date, case_area_id, case_area, currency, bill_days, 
    follow_date, bill_status, bill_repay_status, bill_classify_id, collection_type, department_id, 
    agent_id, begin_col_date, allot_date, de_agent_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.study.foundation.dao1.model.BillInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bill_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bill_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bill_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.study.foundation.dao1.model.BillInfoExample" >
    delete from bill_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.study.foundation.dao1.model.BillInfo" >
    insert into bill_info (id, created, creator, 
      updated, modifier, deleted, 
      bill_code, packet_id, packet_code, 
      project_id, project_code, company_org_id, 
      second_lending_id, product_num, certificate_num, 
      overdue_day, bucket, bill_batch_times, 
      commit_money, total_repay_money, latest_commit_money, 
      latest_debt_money, commit_date, limit_date, 
      case_area_id, case_area, currency, 
      bill_days, follow_date, bill_status, 
      bill_repay_status, bill_classify_id, collection_type, 
      department_id, agent_id, begin_col_date, 
      allot_date, de_agent_id)
    values (#{id,jdbcType=BIGINT}, #{created,jdbcType=TIMESTAMP}, #{creator,jdbcType=BIGINT}, 
      #{updated,jdbcType=TIMESTAMP}, #{modifier,jdbcType=BIGINT}, #{deleted,jdbcType=VARCHAR}, 
      #{billCode,jdbcType=VARCHAR}, #{packetId,jdbcType=BIGINT}, #{packetCode,jdbcType=VARCHAR}, 
      #{projectId,jdbcType=BIGINT}, #{projectCode,jdbcType=VARCHAR}, #{companyOrgId,jdbcType=BIGINT}, 
      #{secondLendingId,jdbcType=BIGINT}, #{productNum,jdbcType=VARCHAR}, #{certificateNum,jdbcType=VARCHAR}, 
      #{overdueDay,jdbcType=INTEGER}, #{bucket,jdbcType=VARCHAR}, #{billBatchTimes,jdbcType=VARCHAR}, 
      #{commitMoney,jdbcType=DECIMAL}, #{totalRepayMoney,jdbcType=DECIMAL}, #{latestCommitMoney,jdbcType=DECIMAL}, 
      #{latestDebtMoney,jdbcType=DECIMAL}, #{commitDate,jdbcType=TIMESTAMP}, #{limitDate,jdbcType=TIMESTAMP}, 
      #{caseAreaId,jdbcType=BIGINT}, #{caseArea,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, 
      #{billDays,jdbcType=INTEGER}, #{followDate,jdbcType=TIMESTAMP}, #{billStatus,jdbcType=VARCHAR}, 
      #{billRepayStatus,jdbcType=VARCHAR}, #{billClassifyId,jdbcType=BIGINT}, #{collectionType,jdbcType=VARCHAR}, 
      #{departmentId,jdbcType=BIGINT}, #{agentId,jdbcType=BIGINT}, #{beginColDate,jdbcType=TIMESTAMP}, 
      #{allotDate,jdbcType=TIMESTAMP}, #{deAgentId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.study.foundation.dao1.model.BillInfo" >
    insert into bill_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="billCode != null" >
        bill_code,
      </if>
      <if test="packetId != null" >
        packet_id,
      </if>
      <if test="packetCode != null" >
        packet_code,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="companyOrgId != null" >
        company_org_id,
      </if>
      <if test="secondLendingId != null" >
        second_lending_id,
      </if>
      <if test="productNum != null" >
        product_num,
      </if>
      <if test="certificateNum != null" >
        certificate_num,
      </if>
      <if test="overdueDay != null" >
        overdue_day,
      </if>
      <if test="bucket != null" >
        bucket,
      </if>
      <if test="billBatchTimes != null" >
        bill_batch_times,
      </if>
      <if test="commitMoney != null" >
        commit_money,
      </if>
      <if test="totalRepayMoney != null" >
        total_repay_money,
      </if>
      <if test="latestCommitMoney != null" >
        latest_commit_money,
      </if>
      <if test="latestDebtMoney != null" >
        latest_debt_money,
      </if>
      <if test="commitDate != null" >
        commit_date,
      </if>
      <if test="limitDate != null" >
        limit_date,
      </if>
      <if test="caseAreaId != null" >
        case_area_id,
      </if>
      <if test="caseArea != null" >
        case_area,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="billDays != null" >
        bill_days,
      </if>
      <if test="followDate != null" >
        follow_date,
      </if>
      <if test="billStatus != null" >
        bill_status,
      </if>
      <if test="billRepayStatus != null" >
        bill_repay_status,
      </if>
      <if test="billClassifyId != null" >
        bill_classify_id,
      </if>
      <if test="collectionType != null" >
        collection_type,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="agentId != null" >
        agent_id,
      </if>
      <if test="beginColDate != null" >
        begin_col_date,
      </if>
      <if test="allotDate != null" >
        allot_date,
      </if>
      <if test="deAgentId != null" >
        de_agent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="billCode != null" >
        #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="packetId != null" >
        #{packetId,jdbcType=BIGINT},
      </if>
      <if test="packetCode != null" >
        #{packetCode,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="companyOrgId != null" >
        #{companyOrgId,jdbcType=BIGINT},
      </if>
      <if test="secondLendingId != null" >
        #{secondLendingId,jdbcType=BIGINT},
      </if>
      <if test="productNum != null" >
        #{productNum,jdbcType=VARCHAR},
      </if>
      <if test="certificateNum != null" >
        #{certificateNum,jdbcType=VARCHAR},
      </if>
      <if test="overdueDay != null" >
        #{overdueDay,jdbcType=INTEGER},
      </if>
      <if test="bucket != null" >
        #{bucket,jdbcType=VARCHAR},
      </if>
      <if test="billBatchTimes != null" >
        #{billBatchTimes,jdbcType=VARCHAR},
      </if>
      <if test="commitMoney != null" >
        #{commitMoney,jdbcType=DECIMAL},
      </if>
      <if test="totalRepayMoney != null" >
        #{totalRepayMoney,jdbcType=DECIMAL},
      </if>
      <if test="latestCommitMoney != null" >
        #{latestCommitMoney,jdbcType=DECIMAL},
      </if>
      <if test="latestDebtMoney != null" >
        #{latestDebtMoney,jdbcType=DECIMAL},
      </if>
      <if test="commitDate != null" >
        #{commitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="limitDate != null" >
        #{limitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="caseAreaId != null" >
        #{caseAreaId,jdbcType=BIGINT},
      </if>
      <if test="caseArea != null" >
        #{caseArea,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="billDays != null" >
        #{billDays,jdbcType=INTEGER},
      </if>
      <if test="followDate != null" >
        #{followDate,jdbcType=TIMESTAMP},
      </if>
      <if test="billStatus != null" >
        #{billStatus,jdbcType=VARCHAR},
      </if>
      <if test="billRepayStatus != null" >
        #{billRepayStatus,jdbcType=VARCHAR},
      </if>
      <if test="billClassifyId != null" >
        #{billClassifyId,jdbcType=BIGINT},
      </if>
      <if test="collectionType != null" >
        #{collectionType,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=BIGINT},
      </if>
      <if test="beginColDate != null" >
        #{beginColDate,jdbcType=TIMESTAMP},
      </if>
      <if test="allotDate != null" >
        #{allotDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deAgentId != null" >
        #{deAgentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.study.foundation.dao1.model.BillInfoExample" resultType="java.lang.Integer" >
    select count(*) from bill_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bill_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=BIGINT},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null" >
        modifier = #{record.modifier,jdbcType=BIGINT},
      </if>
      <if test="record.deleted != null" >
        deleted = #{record.deleted,jdbcType=VARCHAR},
      </if>
      <if test="record.billCode != null" >
        bill_code = #{record.billCode,jdbcType=VARCHAR},
      </if>
      <if test="record.packetId != null" >
        packet_id = #{record.packetId,jdbcType=BIGINT},
      </if>
      <if test="record.packetCode != null" >
        packet_code = #{record.packetCode,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=BIGINT},
      </if>
      <if test="record.projectCode != null" >
        project_code = #{record.projectCode,jdbcType=VARCHAR},
      </if>
      <if test="record.companyOrgId != null" >
        company_org_id = #{record.companyOrgId,jdbcType=BIGINT},
      </if>
      <if test="record.secondLendingId != null" >
        second_lending_id = #{record.secondLendingId,jdbcType=BIGINT},
      </if>
      <if test="record.productNum != null" >
        product_num = #{record.productNum,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateNum != null" >
        certificate_num = #{record.certificateNum,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueDay != null" >
        overdue_day = #{record.overdueDay,jdbcType=INTEGER},
      </if>
      <if test="record.bucket != null" >
        bucket = #{record.bucket,jdbcType=VARCHAR},
      </if>
      <if test="record.billBatchTimes != null" >
        bill_batch_times = #{record.billBatchTimes,jdbcType=VARCHAR},
      </if>
      <if test="record.commitMoney != null" >
        commit_money = #{record.commitMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.totalRepayMoney != null" >
        total_repay_money = #{record.totalRepayMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.latestCommitMoney != null" >
        latest_commit_money = #{record.latestCommitMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.latestDebtMoney != null" >
        latest_debt_money = #{record.latestDebtMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.commitDate != null" >
        commit_date = #{record.commitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.limitDate != null" >
        limit_date = #{record.limitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.caseAreaId != null" >
        case_area_id = #{record.caseAreaId,jdbcType=BIGINT},
      </if>
      <if test="record.caseArea != null" >
        case_area = #{record.caseArea,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null" >
        currency = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.billDays != null" >
        bill_days = #{record.billDays,jdbcType=INTEGER},
      </if>
      <if test="record.followDate != null" >
        follow_date = #{record.followDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.billStatus != null" >
        bill_status = #{record.billStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.billRepayStatus != null" >
        bill_repay_status = #{record.billRepayStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.billClassifyId != null" >
        bill_classify_id = #{record.billClassifyId,jdbcType=BIGINT},
      </if>
      <if test="record.collectionType != null" >
        collection_type = #{record.collectionType,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentId != null" >
        department_id = #{record.departmentId,jdbcType=BIGINT},
      </if>
      <if test="record.agentId != null" >
        agent_id = #{record.agentId,jdbcType=BIGINT},
      </if>
      <if test="record.beginColDate != null" >
        begin_col_date = #{record.beginColDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.allotDate != null" >
        allot_date = #{record.allotDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deAgentId != null" >
        de_agent_id = #{record.deAgentId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bill_info
    set id = #{record.id,jdbcType=BIGINT},
      created = #{record.created,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=BIGINT},
      updated = #{record.updated,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=BIGINT},
      deleted = #{record.deleted,jdbcType=VARCHAR},
      bill_code = #{record.billCode,jdbcType=VARCHAR},
      packet_id = #{record.packetId,jdbcType=BIGINT},
      packet_code = #{record.packetCode,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=BIGINT},
      project_code = #{record.projectCode,jdbcType=VARCHAR},
      company_org_id = #{record.companyOrgId,jdbcType=BIGINT},
      second_lending_id = #{record.secondLendingId,jdbcType=BIGINT},
      product_num = #{record.productNum,jdbcType=VARCHAR},
      certificate_num = #{record.certificateNum,jdbcType=VARCHAR},
      overdue_day = #{record.overdueDay,jdbcType=INTEGER},
      bucket = #{record.bucket,jdbcType=VARCHAR},
      bill_batch_times = #{record.billBatchTimes,jdbcType=VARCHAR},
      commit_money = #{record.commitMoney,jdbcType=DECIMAL},
      total_repay_money = #{record.totalRepayMoney,jdbcType=DECIMAL},
      latest_commit_money = #{record.latestCommitMoney,jdbcType=DECIMAL},
      latest_debt_money = #{record.latestDebtMoney,jdbcType=DECIMAL},
      commit_date = #{record.commitDate,jdbcType=TIMESTAMP},
      limit_date = #{record.limitDate,jdbcType=TIMESTAMP},
      case_area_id = #{record.caseAreaId,jdbcType=BIGINT},
      case_area = #{record.caseArea,jdbcType=VARCHAR},
      currency = #{record.currency,jdbcType=VARCHAR},
      bill_days = #{record.billDays,jdbcType=INTEGER},
      follow_date = #{record.followDate,jdbcType=TIMESTAMP},
      bill_status = #{record.billStatus,jdbcType=VARCHAR},
      bill_repay_status = #{record.billRepayStatus,jdbcType=VARCHAR},
      bill_classify_id = #{record.billClassifyId,jdbcType=BIGINT},
      collection_type = #{record.collectionType,jdbcType=VARCHAR},
      department_id = #{record.departmentId,jdbcType=BIGINT},
      agent_id = #{record.agentId,jdbcType=BIGINT},
      begin_col_date = #{record.beginColDate,jdbcType=TIMESTAMP},
      allot_date = #{record.allotDate,jdbcType=TIMESTAMP},
      de_agent_id = #{record.deAgentId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.foundation.dao1.model.BillInfo" >
    update bill_info
    <set >
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="billCode != null" >
        bill_code = #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="packetId != null" >
        packet_id = #{packetId,jdbcType=BIGINT},
      </if>
      <if test="packetCode != null" >
        packet_code = #{packetCode,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="projectCode != null" >
        project_code = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="companyOrgId != null" >
        company_org_id = #{companyOrgId,jdbcType=BIGINT},
      </if>
      <if test="secondLendingId != null" >
        second_lending_id = #{secondLendingId,jdbcType=BIGINT},
      </if>
      <if test="productNum != null" >
        product_num = #{productNum,jdbcType=VARCHAR},
      </if>
      <if test="certificateNum != null" >
        certificate_num = #{certificateNum,jdbcType=VARCHAR},
      </if>
      <if test="overdueDay != null" >
        overdue_day = #{overdueDay,jdbcType=INTEGER},
      </if>
      <if test="bucket != null" >
        bucket = #{bucket,jdbcType=VARCHAR},
      </if>
      <if test="billBatchTimes != null" >
        bill_batch_times = #{billBatchTimes,jdbcType=VARCHAR},
      </if>
      <if test="commitMoney != null" >
        commit_money = #{commitMoney,jdbcType=DECIMAL},
      </if>
      <if test="totalRepayMoney != null" >
        total_repay_money = #{totalRepayMoney,jdbcType=DECIMAL},
      </if>
      <if test="latestCommitMoney != null" >
        latest_commit_money = #{latestCommitMoney,jdbcType=DECIMAL},
      </if>
      <if test="latestDebtMoney != null" >
        latest_debt_money = #{latestDebtMoney,jdbcType=DECIMAL},
      </if>
      <if test="commitDate != null" >
        commit_date = #{commitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="limitDate != null" >
        limit_date = #{limitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="caseAreaId != null" >
        case_area_id = #{caseAreaId,jdbcType=BIGINT},
      </if>
      <if test="caseArea != null" >
        case_area = #{caseArea,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="billDays != null" >
        bill_days = #{billDays,jdbcType=INTEGER},
      </if>
      <if test="followDate != null" >
        follow_date = #{followDate,jdbcType=TIMESTAMP},
      </if>
      <if test="billStatus != null" >
        bill_status = #{billStatus,jdbcType=VARCHAR},
      </if>
      <if test="billRepayStatus != null" >
        bill_repay_status = #{billRepayStatus,jdbcType=VARCHAR},
      </if>
      <if test="billClassifyId != null" >
        bill_classify_id = #{billClassifyId,jdbcType=BIGINT},
      </if>
      <if test="collectionType != null" >
        collection_type = #{collectionType,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="agentId != null" >
        agent_id = #{agentId,jdbcType=BIGINT},
      </if>
      <if test="beginColDate != null" >
        begin_col_date = #{beginColDate,jdbcType=TIMESTAMP},
      </if>
      <if test="allotDate != null" >
        allot_date = #{allotDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deAgentId != null" >
        de_agent_id = #{deAgentId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.foundation.dao1.model.BillInfo" >
    update bill_info
    set created = #{created,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=BIGINT},
      updated = #{updated,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=VARCHAR},
      bill_code = #{billCode,jdbcType=VARCHAR},
      packet_id = #{packetId,jdbcType=BIGINT},
      packet_code = #{packetCode,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=BIGINT},
      project_code = #{projectCode,jdbcType=VARCHAR},
      company_org_id = #{companyOrgId,jdbcType=BIGINT},
      second_lending_id = #{secondLendingId,jdbcType=BIGINT},
      product_num = #{productNum,jdbcType=VARCHAR},
      certificate_num = #{certificateNum,jdbcType=VARCHAR},
      overdue_day = #{overdueDay,jdbcType=INTEGER},
      bucket = #{bucket,jdbcType=VARCHAR},
      bill_batch_times = #{billBatchTimes,jdbcType=VARCHAR},
      commit_money = #{commitMoney,jdbcType=DECIMAL},
      total_repay_money = #{totalRepayMoney,jdbcType=DECIMAL},
      latest_commit_money = #{latestCommitMoney,jdbcType=DECIMAL},
      latest_debt_money = #{latestDebtMoney,jdbcType=DECIMAL},
      commit_date = #{commitDate,jdbcType=TIMESTAMP},
      limit_date = #{limitDate,jdbcType=TIMESTAMP},
      case_area_id = #{caseAreaId,jdbcType=BIGINT},
      case_area = #{caseArea,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      bill_days = #{billDays,jdbcType=INTEGER},
      follow_date = #{followDate,jdbcType=TIMESTAMP},
      bill_status = #{billStatus,jdbcType=VARCHAR},
      bill_repay_status = #{billRepayStatus,jdbcType=VARCHAR},
      bill_classify_id = #{billClassifyId,jdbcType=BIGINT},
      collection_type = #{collectionType,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=BIGINT},
      agent_id = #{agentId,jdbcType=BIGINT},
      begin_col_date = #{beginColDate,jdbcType=TIMESTAMP},
      allot_date = #{allotDate,jdbcType=TIMESTAMP},
      de_agent_id = #{deAgentId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>